{% extends "admin_base.html" %}

{% block title %}後台管理-產品{% endblock %}

{% block style %}
<style>
  button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    /* for input */
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
  }

  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }


  .add-modal {
    position: absolute;
    width: 40%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    border: 2px solid #000;
    z-index: 99;
  }


  form {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  .form-control input {
    width: 100%;
    padding: 8px 10px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    padding: 4px 6px;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  button.close {
    background-color: rgb(141, 33, 33);
  }

  button[type="submit"] {
    background-color: rgb(60, 60, 122);
  }


  table tbody tr td a,
  table tbody tr td button {
    background-color: #004406;
    padding: 4px 10px;
    color: #fff;
    border-radius: 4px;
    opacity: .8;
    transition: opacity .3s;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    /* 确保文本居中 */
    text-decoration: none;
    /* 去除下划线 */
    border: none;
    /* 去除边框 */
    cursor: pointer;
    /* 鼠标悬停时显示指针 */
  }

  table tbody tr td a:hover,
  table tbody tr td button:hover {
    opacity: 1;
    /* 鼠标悬停时不透明度变为1 */
  }

  td a {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  td a:first-child {
    margin-bottom: 10px;
  }

  td a:last-child {
    background-color: rgb(171, 83, 111);
  }

  td:last-child {
    padding: 15px 0;
  }

  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page a {
    color: white;
    width: 3%;
    background-color: rgb(89, 89, 206);
    text-align: center;
    padding: 5px;
    border-right: 1px solid #fff;
    transition: .5s;
  }

  .page a:hover {
    background-color: rgb(35, 35, 168);
  }

  table tbody tr td a {
    background-color: #3C91E6;
    padding: 4px 10px;
    color: #fff;
    border-radius: 4px;
    opacity: .8;
    transition: opacity .3s;
    display: block;
    margin-bottom: 10px;
  }

  table tbody tr td a.delete {
    background-color: orangered;
  }

  table tbody tr td a:hover {
    opacity: 1;
  }

  a.add_btn {
    text-decoration: none;
    display: block;
    width: 20%;
    color: #fff;
    background-color: rgb(117, 117, 198);
    padding: 6px 10px;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 30px;
  }

  [v-cloak] {
    display: none !important;
  }

  .button-container {
    display: flex;
    /* 启用Flexbox */
    justify-content: start;
    /* 水平对齐方式 */
    gap: 10px;
    /* 按钮之间的间隔 */
  }

  .button-container button {
    background-color: #3C91E6;
    padding: 4px 10px;
    color: #fff;
    border-radius: 4px;
    opacity: .8;
    transition: opacity .3s;
    border: none;
    /* 去除边框 */
    cursor: pointer;
    /* 鼠标悬停时显示指针 */
    text-decoration: none;
    /* 去除下划线 */
  }

  .button-container button:hover {
    opacity: 1;
    /* 鼠标悬停时不透明度变为1 */
  }

  .thumbnail {
    width: 50px;
    /* 或者其他尺寸 */
    height: auto;
    display: block;
    margin-top: 10px;
  }
</style>
{% endblock %}

{% block main %}
<div id="app">
  <div class="head-title">
    <div class="left">
      <h1>订单列表</h1>
    </div>
  </div>
  <div class="product">
    <div class="table-data">
      <div class="order">
        <div class="scroll-table">
          <table>
            <thead>
              <tr>
                <th>会员账号</th>
                <th>USDT数量</th>
                <th>汇率(单价)</th>
                <th>总价(CNY)</th>
                <th>限额</th>
                <th>自动下架时间</th>
                <th>收款银行</th>

                <th>功能</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in product_data" :key="item._id">
                <td>[[ item.account ]]</td>
                <td>[[ item.sell_usdt ]]</td>
                <td>[[ item.price ]]</td>
                <td>[[ item.total ]]</td>
                <td>[[ item.min_limit ]] ~ [[ item.max_limit ]]</td>
                <td>[[ item.time ]]</td>
                <td>[[ item.P_bank ]]</td>

                <td>
                  <a class="confirm" @click="confirmOrder(item._id)" href="javascript:;">确认</a>
                  <a class="delete" :href="`/admin_product?methods=delete&id=${item._id}`">刪除</a>
                  <button @click="copyToClipboard(item.carddocument, item.total)">复制</button>
                </td>


                <td>
                  <div class="button-container">
                    <input type="file" @change="uploadImage($event, item._id)" />
                    <img v-if="item.thumbnail" :src="item.thumbnail" class="thumbnail" />
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        product_data: [],
        is_modal: false,
        tempProduct: {},
        modal_title: '',
        my_product_data: [],
      }
    },
    compilerOptions: {
      delimiters: ["[[", "]]"]
    },
    methods: {
      modalControl(type, fun) {
        this.is_modal = type;
        this.modal_title = fun;
        if (type && fun === '新增') {
          this.setCurrentTime();
          this.tempProduct = {};
        }
      },
      confirmOrder(orderId) {
        if (confirm('你确定要确认这个订单吗？')) {
          fetch(`/confirm_order/${orderId}`, { method: 'POST' })
            .then(response => {
              console.log(response.status); // 打印状态代码
              if (response.ok) {
                alert('订单已确认');
                this.fetchOrders();
              } else {
                alert('确认失败，请稍后再试');
              }
            })
        
        }
      },
  setCurrentTime() {
    const now = new Date();
    this.tempProduct.factory_bank = now.toISOString().slice(0, 19).replace('T', ' ');
  },
  copyToClipboard(carddocument, total) {
    const cardInfo = Object.entries(carddocument).map(([key, value]) => `${key}: ${value}`).join('\n');
    const textToCopy = `Card Info:\n${cardInfo}\nTotal: ${total}`;
    navigator.clipboard.writeText(textToCopy).then(() => {
      alert('复制成功！');
    }, (err) => {
      console.error('复制失败: ', err);
      alert('复制失败！');
    });
  },
  previewImage(event, index) {
    const file = event.target.files[0];
    if (file && file.type.startsWith('image/')) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.$set(this.my_product_data[index], 'thumbnail', e.target.result);
        this.uploadImage(file, this.my_product_data[index]._id);
      };
      reader.readAsDataURL(file);
    }
  },
  uploadImage(event, id) {
    const file = event.target.files[0];
    if (file && file.type.startsWith('image/')) {
      // 创建表单数据
      const formData = new FormData();
      formData.append('image', file);
      formData.append('id', id);

      // 发送到服务器 (假设你有一个用于处理图片上传的API)
      fetch('/api/upload-image', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          console.log('上传成功:', data);
          // 可能需要更新本地数据来反映图片的上传
        })
        .catch(error => {
          console.error('上传错误:', error);
        });
    }
  },
    },
  created() {
    // 假设 Flask 正确地传递了 product_data
    this.product_data = JSON.parse('{{ product_data | tojson | safe }}');
  },

  });

  app.mount('#app');
</script>
{% endblock %}