<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <style>
    .admin_header {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 0 30px;
    }
    .admin_header a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 6px 12px;
      font-size: 18px;
      text-align: center;
      background-color: rgb(84, 84, 154);
      margin: 0 !important;
      width: 20% !important;
    }
    main {
      max-width: 1400px;
      margin: 0 auto;
      padding: 30px 30px;
    }
  </style>
  {% block style %}{% endblock %}
</head>
<body>
  <main>
    <div class="admin_header">
      <a href="/admin_dashboard">首頁面板</a>
      <a href="/admin_verify">身份驗證</a>
      <a href="/admin_product">產品列表</a>

      {% if session.display_name == '最高管理者' %}
      <a href="/admin_member">會員列表</a>
      <a href="/admin_list">生成订单详情</a>
      <a href="/admin_order?page=1">订单列表</a>
      <a href="/admin_log">支出记录</a>
      
      {% endif %}
      <a style="margin-left:auto; margin-right:0" href="/admin_logout">登出</a>
    </div>
    {% block main %}
    {% endblock %}
  </main>
</body>
</html>