{% extends "admin_base.html" %}

{% block title %}後台-訂單管理{% endblock %}

{% block style %}
<style>
  
  .edit-modal {
    position: absolute;
    width: 40%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    border: 2px solid #000;
    opacity: 1;
    z-index: 99;
  }

  form {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  .form-control input {
    width: 100%;
    padding: 8px 10px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    padding: 4px 6px;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  button.close {
    background-color: rgb(141, 33, 33);
  }

  button[type="submit"] {
    background-color: rgb(60, 60, 122);
  }

  
  form.search {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  form.search button {
    background-color: blueviolet;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0 12px;
  }
  form.search a {
    width: 80px;
    text-align: center;
    background-color: rgb(69, 69, 131);
    color: white;
    line-height: 26.5px;
  }
  table tbody tr td a {
    background-color: #3C91E6;
    padding: 4px 10px;
    color: #fff;
    border-radius: 4px;
    opacity: .8;
    transition: opacity .3s;
    display: block;
    margin-bottom: 10px;
  }
  table tbody tr td a.delete {
    background-color: orangered;
  }
  table tbody tr td a:hover {
    opacity: 1;
  }
</style>
{% endblock %}

{% block main %}
<div class="head-title">
    <div class="left">
      <h1>紅利申請列表</h1>
    </div>
  </div>
  <div class="table-data">
    <div class="order">
      <div class="scroll-table">
        <table>
          <thead>
            <tr>
              <th>會員帳號</th>
              <th>會員名稱</th>
              <th>申請提現紅利數量</th>
              <th>提現進度</th>
              <th>功能</th>
            </tr>
          </thead>
          <tbody>
            {% for item in bonus_data %}
            <tr>
              <td>{{ item.m_account }}</td>
              <td>{{ item.m_name }}</td>
              <td>{{ item.pay_bonus }}</td>
              <td>
                {% if item.status %}
                  已處理
                {% else %}
                  處理中
                {% endif %}
              </td>
              <td>
                <a href="/admin_bonus?method=success&bId={{ item._id }}">確認提現</a>
                <a class="delete" href="/admin_bonus?method=faild&bId={{ item._id }}">取消提現</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}