{% extends "admin_base.html" %}

{% block title %}後台-會員管理{% endblock %}

{% block style %}
<style>
  
  .edit-modal {
    position: absolute;
    width: 40%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    border: 2px solid #000;
    opacity: 1;
    z-index: 99;
  }
  form {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  .form-control input {
    width: 100%;
    padding: 8px 10px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    padding: 4px 6px;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  button.close {
    background-color: rgb(141, 33, 33);
  }
  button[type="submit"] {
    background-color: rgb(60, 60, 122);
  }
  h2 {
    text-align: center;
  }
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page a{
    color: white;
    width: 3%;
    background-color: rgb(89, 89, 206);
    text-align: center;
    padding: 5px;
    border-right: 1px solid #fff;
    transition: .5s;
  }
  .page a:hover {
    background-color: rgb(35, 35, 168);
  }
  [v-cloak]{display: none !important;}
</style>
{% endblock %}

{% block main %}
<div id="app">
  <div class="head-title">
    <div class="left">
      <h1>会员总表</h1>
      <!-- <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="#">Home</a>
        </li>
      </ul> -->
    </div>
    <!-- <a href="#" class="btn-download">
      <i class='bx bxs-cloud-download' ></i>
      <span class="text">Download PDF</span>
    </a> -->
  </div>
  <div class="verify">
    <div class="table-data">
      <div class="order">
        <div class="scroll-table">
          <table>
            <thead>
              <tr>
                <th>姓名</th>
                <th>账号</th>
                <th>会员等级</th>
                <th>邀请人</th>
                <th>USDT</th>
                <th>功能</th>

              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in member_data" :key="item._id">
                <td>[[ item.name ]]</td>
                <td>[[ item.account ]]</td>
                <td>[[ item.display_name ]]</td>
                <td>[[ item.invitedCode ]]</td>
                <td>[[ item.USDT ]]</td>
                <td>
                  <a @click="this.tempMember = { ...item }, modalControl(true)" href="javascript:;">编辑</a>
                  <a  class="delete" :href="`/admin_member?methods=delete&id=${[[ item._id ]]}`">删除</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div v-show="is_modal" class="edit-modal" v-cloak>
      <h2>会员编辑</h2>
      <form action="/admin_member" method="POST">
        <div class="form-control">
          <input type="text" name="name" v-model="tempMember.name">
        </div>
        <div class="form-control">
          <input type="text" name="account" v-model="tempMember.account" readonly>
        </div>
        <!-- <div class="form-control">
          <input type="text" name="IDcard" v-model="tempMember.IDcard" readonly>
        </div> -->
        <div class="form-control">
          <input type="number" name="coin" v-model="tempMember.coin">
        </div>
        <div class="form-control">
          <input type="number" name="real_coin" v-model="tempMember.real_coin">
        </div>
        <div class="form-control">
          <input type="number" name="bonus_rate" v-model="tempMember.bonus_rate">
        </div>
        <div class="button-group">
          <input type="hidden" name="id" v-model="tempMember._id">
          <button @click="modalControl(false), this.tempMember = {}" type="button" class="close">取消</button>
          <button type="submit">修改</button>
        </div>
      </form>
    </div>
  </div>
  
</div>


<script src="https://unpkg.com/vue@next"></script>
<script>
  const app = Vue.createApp({
    data () {
      return {
        member_data: '',
        is_modal: false,
        tempMember: {}
      }
    },
    compilerOptions: {
      delimiters: ["[[", "]]"]
    },
    methods: {
      modalControl (type) {
        type ? this.is_modal = true : this.is_modal = false
      }
    },
    created () {
      let tempMember = '{{ member_data }}'
      this.member_data = JSON.parse(tempMember.replace(/&#39;/g, '"'))
    }
  })
  app.mount('#app')
</script>
{% endblock %}