<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>银行卡信息</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>户名</th>
            <th>银行名称</th>
            <th>账号</th>
            <th>银行省份</th>
            <th>银行支行</th>
        </tr>
        {% for card in bankcards %}
        <tr>
            <td>{{ card.accountname }}</td>
            <td>{{ card.bank }}</td>
            <td>{{ card.cardnumber }}</td>
            <td>{{ card.bankprovince }}</td>
            <td>{{ card.branch }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>