{% extends "member_base.html" %}

{% block title %}後台管理-產品{% endblock %}

{% block style %}
<style>
  button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    /* for input */
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
  }

  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }


  .modal-overlay {
    position: fixed;
    /* 固定定位 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明背景 */
    z-index: 1000;
    /* 高于页面上的其他元素 */
    display: none;
    /* 默认不显示 */
  }

  /* 模态窗口样式 */
  .add-modal {
    display: block;
    /* 显示模态窗口 */
    position: fixed;
    /* 固定定位 */
    top: 50%;
    /* 居中定位 */
    left: 50%;
    transform: translate(-50%, -50%);
    /* 从中心向上和向左偏移 */
    width: 50%;
    /* 宽度 */
    height: auto;
    /* 高度自动 */
    background-color: #fff;
    /* 背景色 */
    padding: 20px;
    /* 内边距 */
    border-radius: 5px;
    /* 圆角边框 */
    z-index: 1001;
    /* 确保在覆盖层上方 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
    overflow: auto;
    /* 如果需要滚动条 */
  }




  .close {
    color: #aaa;
    position: absolute;
    /* 绝对定位 */
    right: 10px;
    /* 距离右侧10px */
    top: 10px;
    /* 距离顶部10px */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  select,
  input[type="text"],
  input[type="submit"] {
    width: 100%;
    /* 宽度为100% */
    padding: 10px;
    margin-top: 8px;
    /* 顶部间距 */
    margin-bottom: 16px;
    /* 底部间距 */
    border: 1px solid #ddd;
    border-radius: 4px;
    /* 圆角 */
  }

  label {
    display: inline-block;
    margin-right: 10px;
  }



  form {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  .form-control input {
    width: 100%;
    padding: 8px 10px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    padding: 4px 6px;
    color: white;
    background-color: rgb(60, 60, 122);

    text-align: center;
    cursor: pointer;
  }

  button.close {
    background-color: rgb(141, 33, 33);
  }

  button[type="submit"] {
    background-color: rgb(60, 60, 122);
  }

  td a {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  td a:first-child {
    margin-bottom: 10px;
  }

  td a:last-child {
    background-color: rgb(171, 83, 111);
  }

  td:last-child {
    padding: 15px 0;
  }

  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page a {
    color: white;
    width: 3%;
    background-color: rgb(89, 89, 206);
    text-align: center;
    padding: 5px;
    border-right: 1px solid #fff;
    transition: .5s;
  }

  .page a:hover {
    background-color: rgb(35, 35, 168);
  }

  table tbody tr td a {
    background-color: #3C91E6;
    padding: 4px 10px;
    color: #fff;
    border-radius: 4px;
    opacity: .8;
    transition: opacity .3s;
    display: block;
    margin-bottom: 10px;
  }

  table tbody tr td a.delete {
    background-color: orangered;
  }

  table tbody tr td a:hover {
    opacity: 1;
  }

  a.add_btn {
    text-decoration: none;
    display: block;
    width: 20%;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(247, 52, 68, 0.692);
    padding: 6px 10px;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: bold;
  }

  label {
    display: block;
    /* 标签显示为块级元素 */
    margin-bottom: 5px;
    /* 标签和输入框之间的间距 */
  }

  /* 输入框和下拉菜单样式 */
  input[type="text"],
  select {
    width: 100%;
    /* 占满容器宽度 */
    padding: 8px;
    /* 内边距 */
    margin-bottom: 16px;
    /* 底部间距 */
    border: 1px solid #ddd;
    /* 边框 */
    border-radius: 4px;
    /* 圆角 */
  }

  /* 提交按钮样式 */
  input[type="submit"] {
    width: auto;
    /* 自动宽度 */
    padding: 10px 15px;
    /* 内边距 */
    background-color: #5d9cec;
    /* 背景颜色 */
    color: white;
    /* 文字颜色 */
    border: none;
    /* 无边框 */
    border-radius: 4px;
    /* 圆角 */
    cursor: pointer;
    /* 鼠标手势 */
  }

  input[type="submit"]:hover {
    background-color: #4a8bdb;
    /* 鼠标悬浮时的背景颜色 */
  }

  .modal-overlay {
    display: none;
    /* 默认不显示，当触发弹窗时通过JavaScript设置为block */
    position: fixed;
    /* 固定位置 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* 黑色半透明背景 */
    z-index: 1;
    /* 确保它位于页面内容之上 */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
    z-index: 2;
    /* Sit on top of the overlay */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .error-modal {
    position: fixed; /* 固定位置，始终显示在屏幕中央 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* 弹窗宽度 */
    padding: 20px; /* 内边距 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    background-color: #ffdddd; /* 背景颜色 */
    border: 1px solid #ff5555; /* 边框 */
    border-radius: 10px; /* 边框圆角 */
    text-align: center; /* 文本居中 */
    z-index: 1000; /* 确保弹窗在其他内容上方 */
  }

  .error-modal p {
    color: #000000; /* 文本颜色 */
    margin: 10px 0; /* 段落间距 */
    font-size: 16px; /* 字体大小 */
  }

  .error-modal button {
    background-color: #ff5555; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    border: none; /* 无边框 */
    padding: 10px 20px; /* 按钮内边距 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 无文本装饰 */
    display: inline-block; /* 行内块显示 */
    font-size: 16px; /* 字体大小 */
    margin: 4px 2px; /* 外边距 */
    cursor: pointer; /* 鼠标光标样式 */
    border-radius: 5px; /* 按钮边框圆角 */
  }

  /* Add Animation */
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }
  


  [v-cloak] {
    display: none !important;
  }
</style>
{% endblock %}

{% block main %}
<div class="modal-overlay" id="modal-overlay" @click="closeModal"></div>
<div id="app">
  <div class="head-title">
    <div class="left">
      <h1>充值订单列表</h1>
    </div>
  </div>
  <div class="product">
    <a @click="modalControl(true, '新增'), tempProduct = {}" class="open add_btn" href="javascript:;">新增充值订单</a>
    <div v-if="is_modal" class="add-modal">
      <!-- 表单内容 -->
      <form @submit.prevent="submitForm">

        <div class="form-control">
          <label for="currency">货币:</label>
          <select id="currency" name="currency">
            <option value="usdt">USDT</option>
            <!-- 添加其他货币选项 -->
          </select>
        </div>
        <div class="form-control">
          <label for="usdtcount">充值币量</label>
          <input type="text" id="usdtcount" name="usdtcount" v-model="tempProduct.usdtcount" required>
        </div>
        <div class="form-control">
          <label for="network">选择网络:</label>
          <select id="network" name="network">
            <option value="trc20">TRC20</option>
            <option value="trc20">ERC20</option>
        </div>
        <div class="form-control">
          <label for="qrcode">扫描充值:</label>
          <img id="qrcode" src="{{ url_for('static', filename='path/to/your/qrcode.png') }}" alt="QR Code"
            style="width:100px;height:100px;">
        </div>
        <div class="form-control">
          <input type="text" value="钱包地址" readonly>
        </div>
        <div class="form-control">
          <label for="tradecode">交易码</label>
          <input type="text" id="tradecode" name="tradecode" v-model="tempProduct.tradecode" required>
        </div>
        <div class="form-control">
          <label for="tradetime">交易完成时间</label>
          <input type="text" id="tradetime" name="tradetime" v-model="tempProduct.tradetime" required>
        </div>
        <div class="button-group">
          <button type="button" @click="modalControl(false)">取消</button>
          <button type="submit">提交</button>
        </div>
      </form>
    </div>
    <div class="table-data">
      <div class="order">
        <div class="scroll-table">
          <table>
            <thead>
              <tr>
                <th>会员名称</th>
                <th>USDT数量</th>
                <th>交易码</th>
                <th>交易完成时间</th>
                <th>申请时间</th>
                <th>功能</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in productData" :key="item._id">
                <td>[[ item.account ]]</td>
                <td>[[ item.usdtcount ]]</td>
                <td>[[ item.tradecode ]]</td>
                <td>[[ item.tradetime ]]</td>
                <td>[[ item.time ]]</td>
                <td>
                  <span v-if="item.status">已处理</span>
                  <span v-else>处理中</span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>
  <div class="head-title">
    <div class="left">
      <h1>提领申请列表</h1>
    </div>
  </div>

  <div class="product">
    <a @click="modalControlWithdraw(true, '新增'), withdrawProduct = {}" class="open add_btn"
      href="javascript:;">新增提领申请</a>
    <div v-if="is_modal_withdraw" class="add-modal">
      <form @submit.prevent="submitWithdrawForm">

        <div class="form-control">
          <label for="currency">货币:</label>
          <select id="currency" name="currency">
            <option value="usdt">USDT</option>
            <!-- 添加其他货币选项 -->
          </select>
        </div>
        <div class="form-control">
          <label for="usdtout">提领币量</label>
          <input type="text" id="usdtout" name="usdtout" v-model="withdrawProduct.usdtout" required>
        </div>
        <div class="form-control">
          <label for="network">选择网络:</label>
          <select id="network" name="network">
            <option value="trc20">TRC20</option>
            <option value="trc20">ERC20</option>
          </select>
        </div>

        <div class="form-control">
          <label for="usdtaddress">提领地址</label>
          <input type="text" id="usdtaddress" name="usdtaddress" v-model="withdrawProduct.usdtaddress" required>
        </div>
        <div class="button-group">
          <button type="button" @click="modalControlWithdraw(false)">取消</button>
          <button type="submit">提交</button>
        </div>
      </form>
      <div v-if="showErrorModal" class="error-modal">
        <p>{{ errorMessage }}</p>
        <button @click="showErrorModal = false">提领数量不能大于目前能使用的余额</button>
      </div>
    </div>
    <div class="table-data">
      <div class="order">
        <div class="scroll-table">
          <table>
            <thead>
              <tr>
                <th>会员名称</th>
                <th>提领USDT数量</th>
                <th>申请地址</th>
                <th>申请时间</th>
                <th>功能</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in withdrawData" :key="item._id">
                <td>[[ item.account ]]</td>
                <td>[[ item.usdtout ]]</td>
                <td>[[ item.usdtaddress ]]</td>
                <td>[[ item.time ]]</td>
                <td>
                  <span v-if="item.status">已处理</span>
                  <span v-else>处理中</span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>
</div>







<script src="https://unpkg.com/vue@next"></script>
<script>


  const app = Vue.createApp({
    data() {
      return {
        productData: JSON.parse('{{ product_data | safe }}'), // 使用 Flask 传递的数据
        withdrawData: JSON.parse('{{ withdraw_data | safe }}'), // 新增的 usdtminus 数据

        is_modal: false, // 此处定义 is_modal
        is_modal_withdraw: false,  // 添加这一行

        tempProduct: {},  // 初始化临时产品对象
        withdrawProduct: {},
        modal_title: '', // 如果您的模板中还用到了 modal_title，也应在此定义
        showErrorModal: false,
        errorMessage: '',
      };
    },

    compilerOptions: {
      delimiters: ["[[", "]]"]
    },

    methods: {
      async submitForm() {
        try {
          const response = await fetch('/submit-usdt', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(this.tempProduct)
          });
          const result = await response.json();
          console.log('提交成功:', result);
          // 处理成功逻辑，如关闭模态窗口
          this.is_modal = false;
          location.reload();

        } catch (error) {
          console.error('提交失败:', error);
          // 处理错误逻辑
        }
      },
      async submitWithdrawForm() {
        try {
          const response = await fetch('/submit-withdraw', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(this.withdrawProduct)
          });
          if (!response.ok) {
            const errorData = await response.json();
            // 显示错误消息
            this.errorMessage = errorData.error;
            this.showErrorModal = true;
            return;
          }

          const result = await response.json();
          console.log('提交成功:', result);

          // 处理成功逻辑，如关闭模态窗口
          this.is_modal_withdraw = false;  // 确保关闭提领弹窗
          location.reload();

        } catch (error) {
          console.error('提交失败:', error);
          // 处理错误逻辑
        }
      },

      modalControl(type, fun) {
        document.getElementById('modal-overlay').style.display = type ? 'block' : 'none';
        this.is_modal = type;
        type ? this.is_modal = true : this.is_modal = false;
        console.log("modalControl 被调用，is_modal:", this.is_modal);
        this.modal_title = fun
        if (type && fun === '新增') {
          this.setCurrentTime(); // 设置当前时间
          this.tempProduct = {}; // 重置tempProduct
        }
      },
      modalControlWithdraw(type, fun) {
        document.getElementById('modal-overlay').style.display = type ? 'block' : 'none';
        this.is_modal_withdraw = type;
        type ? this.is_modal_withdraw = true : this.is_modal_withdraw = false;
        this.modal_title = fun;
        if (type && fun === '新增') {
          this.setCurrentTime();
          this.withdrawProduct = {};
        }
      },

      setCurrentTime() {
        const now = new Date();
        const formattedTime = now.toISOString().slice(0, 19).replace('T', ' ');
        this.tempProduct.bank = formattedTime;
      },

    },
    created() {
      console.log("在created钩子中，is_modal:", this.is_modal);
      // 其他代码...
    },
    mounted() {
      console.log("在 mounted 钩子中，is_modal:", this.is_modal);
      // 其余代码...
    },
    closeModal() {
      this.is_modal = false;
      this.is_modal_withdraw = false;
      document.getElementById('modal-overlay').style.display = 'none';
    },

  })
  app.mount('#app')
</script>
<script>
  console.log("Raw data:", '{{ product_data | tojson }}');  // 直接打印原始数据
</script>
{% endblock %}