{% extends "member_base.html" %}

{% block title %}会员面板{% endblock %}

{% block style %}
<style>
  h4 {
    font-size: 14px; /* 设置字体大小，可以根据需要调整具体数值 */
    word-wrap: break-word;
  }
</style>
{% endblock %}

{% block main %}
<div class="head-title">
  <div class="left">
    <h1>资讯总览</h1>
    <!-- <ul class="breadcrumb">
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" href="#">Home</a>
      </li>
    </ul> -->
  </div>
  <!-- <a href="#" class="btn-download">
    <i class='bx bxs-cloud-download' ></i>
    <span class="text">Download PDF</span>
  </a> -->
</div>
<ul class="box-info">
  <li>
    <i class='bx bxs-dollar-circle' ></i>
    <span class="text">
      <p>USDT余额</p>
      <h3>{{ session.USDT }}</h3>
    </span>
  </li>
  <li>
    <i class='bx bxs-dollar-circle' ></i>
    <span class="text">
      <p>即时汇率</p>
      <h3>7.35</h3>
    </span>
  </li>
  <li style="opacity: 0;">
  </li>
  <li style="opacity: 0;">
  </li>
  <!-- <li>
    <i class='bx bxs-group' ></i>
    <span class="text">
      <p>Email</p>
      <h3>28</h3>
    </span>
  </li> -->
  <li>
    <i class='bx bxs-group' ></i>
    <span class="text">
      <p>邀请码</p>
      <h3>{{ session.account }}</h3>
      <h4>http://127.0.0.1:5858/register?invite={{ session.account }}</h3>
    </span>
  </li>
  <li>
    <i class='bx bxs-group' ></i>
    <span class="text">
      <p>邀请码QRcode</p>
      <h3><img src="{{ img_path }}" alt="QR Code">
      </h3>
    </span>
  </li>
  <li>
    <i class='bx bxs-group' ></i>
    <span class="text">
      <p>二部验证</p>
      <h3>0</h3>
    </span>
  </li>
  <li>
    <i class='bx bxs-calendar-check' ></i>
    <span class="text">
      <p>进行中的订单</p>
      <h3>3</h3>
    </span>
  </li>
  <li>
    <i class='bx bxs-calendar-check' ></i>
    <span class="text">
      <p>今日总交易U量</p>
      <h3>102</h3>
    </span>
  </li>
  <li style="opacity: 0;">
  </li>
  <li style="opacity: 0;">
  </li>

</ul>
{% endblock %}